MONGODB_URI=mongodb://mongo:27017
MONGODB_DB_NAME=rescash
PORT=8099
HOST=0.0.0.0
GRAPHQL_URI=https://cloud.resilientdb.com/graphql
CROW_SERVER_URI=https://crow.resilientdb.com/v1/transactions
INTERNAL_API_BASE_URL=http://localhost:8099
SESSION_SECRET=replace-with-secure-secret
JWT_SECRET=replace-with-secure-jwt-secret
ENABLE_RESILIENT_SYNC=false
ENABLE_DEV_LOGIN=false
DEV_PUBLIC_KEY=
