.ax_default {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.placeholder {
}
.button {
}
.heading_1 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.table_cell {
}
.menu_item {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.materialicons {
  font-family:"Material Icons", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
.line {
}
.heading_11 {
  font-family:"Roboto", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_21 {
  font-family:"Roboto", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.flat_button {
  font-family:"Roboto Medium", "Roboto", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#2196F3;
}
.shape {
}
.box_11 {
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.image {
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
}
textarea, select, input, button { outline: none; }
